extends layout/layout

block content
    main.main.container.container--wide
        section.container
            .section-bordered.push-size-xs
                .section-bordered__item
                    include components/user-info

                .section-bordered__item
                    include components/request
            
            .section-bordered
                .section-bordered__item
                    include components/tabs
  
                .section-bordered__item.section-bordered__item--yellow
                    .form__buttons-wrap
                        button.btn.btn--green Save changes
                        button.btn.btn--white.u-margin-left-xxs Cancel

        aside.aside
            include layout/navigation
        