extends layout/layout

block content
    main.main.container.container--wide
        section.container
            .section-bordered.push-size-xs
                .section-bordered__item.user-info
                    .user-info__item
                        .user-info__title.push-size-xxxs
                            span.icon.icon--dollar
                            h3.title-size-xs Donation
                        .user-info__sum
                            p.title-size-m.u-color-highlight-dark €20.60 EUR   
                            p.u-color-highlight-light ≈ $22.22 USD     
                    .user-info__item
                        p.u-color-highlight-light.push-size-xxxs ID 
                        .u-d-flex.push-size-xxxs.u-pointer
                            h3.title-size-xs DYHY694Y
                            span.icon.icon--copy

                .section-bordered__item
                    .request
                        .request__item
                            h4.title-size-xs.u-color-highlight-light.push-size-xxxs Status
                            .u-d-flex
                                span.icon.icon--success
                                p Success
                        .request__item
                            h4.title-size-xs.u-color-highlight-light.push-size-xxxs Supporter
                            a(class="request__link" href="mailto:#" target="_blank") Charlotte&nbsp;Ann
                        .request__item
                            h4.title-size-xs.u-color-highlight-light.push-size-xxxs Status
                            a(class="request__link" href="#" target="_blank") Workout for&nbsp;water
            .section-bordered
                .section-bordered__item
                    .tabs
                        input(class="tabs__input" type="radio" name="tabs" id="tab-1" checked)
                        input(class="tabs__input" type="radio" name="tabs" id="tab-2")
                        input(class="tabs__input" type="radio" name="tabs" id="tab-3")
                        input(class="tabs__input" type="radio" name="tabs" id="tab-4")
                        input(class="tabs__input" type="radio" name="tabs" id="tab-5")

                        nav.tabs__item.nav-secondary
                            ul.nav-secondary__wrap
                                label(class="nav-secondary__label" for="tab-1") Behavior
                                label(class="nav-secondary__label" for="tab-2") Appearance
                                label(class="nav-secondary__label" for="tab-3") Custom Fields
                                label(class="nav-secondary__label" for="tab-4") Questions
                                label(class="nav-secondary__label" for="tab-5") URL Control

                        ul.tabs__item.tab-content
                            li.tab-content__item
                                form.form
                                    .form__item.push-size-xs
                                        h5.form__title Designation
                                        .select.select--size-m(data-state="")#designation
                                            .select__title(data-default="Match Checkout Setting") Match Checkout Setting
                                            .select__content
                                                input(id="singleSelect0" class="select__input" type="radio" name="singleSelect" checked)
                                                label(for="singleSelect0" class="select__label") Match Checkout Setting

                                                input(id="singleSelect1" class="select__input" type="radio" name="singleSelect")
                                                label(for="singleSelect1" class="select__label") Option 1

                                                input(id="singleSelect2" class="select__input" type="radio" name="singleSelect" disabled)
                                                label(for="singleSelect2" class="select__label") Option 2 (disabled)

                                                input(id="singleSelect3" class="select__input" type="radio" name="singleSelect")
                                                label(for="singleSelect3" class="select__label") Option 3

                                                input(id="singleSelect4" class="select__input" type="radio" name="singleSelect")
                                                label(for="singleSelect4" class="select__label") Option 4

                                    .form__item.push-size-xs
                                        h5.form__title Goal

                                        .u-d-flex 
                                            input(class="input input__text input--size-m" type="text" name="goal" placeholder="$10.00" value="$10.00" aria-label="Goal")

                                            .select.select--size-s.u-margin-left-xxs(data-state="")#currency
                                                .select__title(data-default="USD") USD
                                                .select__content
                                                    input(id="singleSelect5" class="select__input" type="radio" name="singleSelect" checked)
                                                    label(for="singleSelect5" class="select__label") USD
                                                            
                                                    input(id="singleSelect6" class="select__input" type="radio" name="singleSelect")
                                                    label(for="singleSelect6" class="select__label") USD

                                                    input(id="singleSelect7" class="select__input" type="radio" name="singleSelect")
                                                    label(for="singleSelect7" class="select__label") EUR

                                    .form__item.push-size-xs
                                        h5.form__title Default Amount
                                                
                                        .radio
                                            .radio__item.push-size-xxs
                                                input(id="defaultAmount1" class="input__radio" type="radio" name="defaultAmount")
                                                label(for="defaultAmount1") Match Checkout Setting
                                                
                                            .radio__item.push-size-xs
                                                input(id="defaultAmount2" class="input__radio" type="radio" name="defaultAmount" checked)
                                                label(for="defaultAmount2" ) Customize

                                            .radio__item 
                                                input(class="input__checkbox" type="checkbox" id="filterStatus3" checked)
                                                label(for="filterStatus3") Allow donor to&nbsp;change default currency

                                    .form__item.push-size-xs
                                        h5.form__title Border size
                                        input(type="range" class="input__range js-border-s-progress" value="2" min="0" max="3" step="1" oninput="this.nextElementSibling.value = this.value + 'px'")
                                        output 2px
                                                

                                            
                                    .form__item 
                                        h5.form__title Border radius
                                        input(type="range" class="input__range js-border-r-progress" value="15" min="5" max="20" step="1" oninput="this.nextElementSibling.value = this.value + 'px'")
                                        output 15px
                            
                            li.tab-content__item
                                <h1>Tab 2</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                            li.tab-content__item
                                <h1>Tab 3</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                            li.tab-content__item
                                <h1>Tab 4</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


                            li.tab-content__item
                                <h1>Tab 5</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


                    //- .tabs
                    //-     input(class="tabs__input" type="radio" id='tab-1' name="tab" checked)
                    //-     input(class="tabs__input" type="radio" id='tab-2' name="tab")
                    //-     input(class="tabs__input" type="radio" id='tab-3' name="tab")
                    //-     input(class="tabs__input" type="radio" id='tab-4' name="tab")
                    //-     input(class="tabs__input" type="radio" id='tab-5' name="tab")

                    //-     nav.tabs__item.nav-secondary
                    //-         ul.nav-secondary__wrap
                    //-             li.nav-secondary__item
                    //-                 label(class="nav-secondary__title" for='tab-1') Behavior
                    //-             li.nav-secondary__item
                    //-                 label(class="nav-secondary__title" for='tab-2') Appearance
                    //-             li.nav-secondary__item
                    //-                 label(class="nav-secondary__title" for='tab-3') Custom Fields
                    //-             li.nav-secondary__item
                    //-                 label(class="nav-secondary__title" for='tab-4') Questions
                    //-             li.nav-secondary__item
                    //-                 label(class="nav-secondary__title" for='tab-5') URL Control
                        
                    //-     ul.tabs__item.tab-content
                    //-         li.tab-content__item
                    //-             p 1 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    //-         li.tab-content__item
                    //-             p 2 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    //-         li.tab-content__item
                    //-             p 3 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    //-         li.tab-content__item
                    //-             p 4 Lorem Ipsum is simply dummy text
                    //-         li.tab-content__item
                    //-             p 5 Lorem Ipsum

                    //- nav.additional-nav
                    //-     ul.tabs#tabs
                    //-         li.tabs__item
                    //-             input(class="tabs__input" type="radio" name="tabs" id="tab1" checked)
                    //-             .tabs__content-wrap
                    //-                 label.tabs__title(for="tab1") Behavior
                    //-                 .tabs__content
                    //-                     form.form
                    //-                         .form__item.push-size-xs
                    //-                             h5.form__title Designation
                    //-                             .select.select--size-m(data-state="")#designation
                    //-                                 .select__title(data-default="Match Checkout Setting") Match Checkout Setting
                    //-                                 .select__content
                    //-                                     input(id="singleSelect0" class="select__input" type="radio" name="singleSelect" checked)
                    //-                                     label(for="singleSelect0" class="select__label") Match Checkout Setting

                    //-                                     input(id="singleSelect1" class="select__input" type="radio" name="singleSelect")
                    //-                                     label(for="singleSelect1" class="select__label") Option 1

                    //-                                     input(id="singleSelect2" class="select__input" type="radio" name="singleSelect" disabled)
                    //-                                     label(for="singleSelect2" class="select__label") Option 2 (disabled)

                    //-                                     input(id="singleSelect3" class="select__input" type="radio" name="singleSelect")
                    //-                                     label(for="singleSelect3" class="select__label") Option 3

                    //-                                     input(id="singleSelect4" class="select__input" type="radio" name="singleSelect")
                    //-                                     label(for="singleSelect4" class="select__label") Option 4

                    //-                         .form__item.push-size-xs
                    //-                             h5.form__title Goal

                    //-                             .u-d-flex 
                    //-                                 input(class="input input__text input--size-m" type="text" name="goal" placeholder="$10.00" value="$10.00" aria-label="Goal")

                    //-                                 .select.select--size-s.u-margin-left-xxs(data-state="")#currency
                    //-                                     .select__title(data-default="USD") USD
                    //-                                     .select__content
                    //-                                         input(id="singleSelect5" class="select__input" type="radio" name="singleSelect" checked)
                    //-                                         label(for="singleSelect5" class="select__label") USD
                                                            
                    //-                                         input(id="singleSelect6" class="select__input" type="radio" name="singleSelect")
                    //-                                         label(for="singleSelect6" class="select__label") USD

                    //-                                         input(id="singleSelect7" class="select__input" type="radio" name="singleSelect")
                    //-                                         label(for="singleSelect7" class="select__label") EUR

                    //-                         .form__item.push-size-xs
                    //-                             h5.form__title Default Amount
                                                
                    //-                             .radio
                    //-                                 .radio__item.push-size-xxs
                    //-                                     input(id="defaultAmount1" class="input__radio" type="radio" name="defaultAmount")
                    //-                                     label(for="defaultAmount1") Match Checkout Setting
                                                
                    //-                                 .radio__item.push-size-xs
                    //-                                     input(id="defaultAmount2" class="input__radio" type="radio" name="defaultAmount" checked)
                    //-                                     label(for="defaultAmount2" ) Customize

                    //-                                 .radio__item 
                    //-                                     input(class="input__checkbox" type="checkbox" id="filterStatus3" checked)
                    //-                                     label(for="filterStatus3") Allow donor to&nbsp;change default currency

                    //-                         .form__item.push-size-xs
                    //-                             h5.form__title Border size
                    //-                             input(type="range" class="input__range js-border-s-progress" value="2" min="0" max="3" step="1" oninput="this.nextElementSibling.value = this.value + 'px'")
                    //-                             output 2px
                                                

                                            
                    //-                         .form__item 
                    //-                             h5.form__title Border radius
                    //-                             input(type="range" class="input__range js-border-r-progress" value="15" min="5" max="20" step="1" oninput="this.nextElementSibling.value = this.value + 'px'")
                    //-                             output 15px
                            
                    //-         li.tabs__item
                    //-             input(class="tabs__input" type="radio" name="tabs" id="tab2")
                    //-             .tabs__content-wrap
                    //-                 label.tabs__title(for="tab2") Appearance
                    //-                 .tabs__content TAB 2 - Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis veritatis, sapiente harum, illo voluptatibus modi dolore explicabo delectus, eum vel vero in reprehenderit quasi praesentium!
                            
                    //-         li.tabs__item
                    //-             input(class="tabs__input" type="radio" name="tabs" id="tab3")
                    //-             .tabs__content-wrap
                    //-                 label.tabs__title(for="tab3") Custom Fields
                    //-                 .tabs__content TAB 3 - Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius veniam ipsa labore eum aut dolor unde? Itaque quis libero veritatis id dolorum, ullam velit cum voluptatum tempore. Quos et ad nisi ipsum magnam, laborum doloremque temporibus atque nam facilis rerum ex eveniet nobis nihil reprehenderit quas, perspiciatis quia. Consectetur, quidem modi, libero fugit necessitatibus optio accusamus aliquam impedit eius eaque ut placeat minus? Quibusdam, facere! A dicta magni aliquam tempora officia, aperiam blanditiis soluta adipisci fuga facere reprehenderit necessitatibus harum. Aspernatur ab nam sequi et porro beatae voluptatum. Quisquam quae blanditiis eos perspiciatis illo. Blanditiis reprehenderit necessitatibus nostrum deserunt voluptas?
                            
                    //-         li.tabs__item
                    //-             input(class="tabs__input" type="radio" name="tabs" id="tab4")
                    //-             .tabs__content-wrap
                    //-                 label.tabs__title(for="tab4") Questions
                    //-                 .tabs__content TAB 4 - Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure dolorum fuga quidem fugiat ullam error accusantium totam saepe consectetur quia?

                    //-         li.tabs__item    
                    //-             input(class="tabs__input" type="radio" name="tabs" id="tab5")
                    //-             .tabs__content-wrap
                    //-                 label.tabs__title(for="tab5") URL Control
                    //-                 .tabs__content TAB 5 - Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, debitis soluta. Quas, voluptatibus quisquam nihil inventore perferendis est a at? Harum doloribus magnam numquam, beatae explicabo consequuntur reiciendis ut laborum?
  
                .section-bordered__item.section-bordered__item--yellow
                    .form__buttons-wrap
                        button.btn.btn--green Save changes
                        button.btn.btn--white.u-margin-left-xxs Cancel

        aside.aside
            ul.menu 
                li.menu__item
                    span.icon.icon--repeat
                    p Change Amount
                li.menu__item
                    span.icon.icon--wallet
                    p Change Payment Method
                li.menu__item.menu__item--active
                    span.icon.icon--calendar
                    p Change Date
                li.menu__item
                    span.icon.icon--cancel
                    p Cancel Recurring
        