.form {
    max-width: 486px;
    &__item {
        display: flex;
        align-items: center;
        

        @include mob-down {
            flex-wrap: wrap;
            justify-content: center;
        }

        &:nth-child(2) {
            @include mob-down {
                .form__title {
                    width: 100%;
                }
            }
        }

        &:nth-child(3) {
            align-items: flex-start;
        }

        &:not(:nth-child(2)) {
            @include mob-down {
                flex-direction: column;
                align-items: center;
            }
        }
    }

    &__title {
        text-align: right;
        line-height: 24px;
        margin-right: 16px;

        @include mob-up {
            flex-basis: 124px;
        }

        @include mob-down {
            text-align: center;
            margin: 0 0 16px;
        }
    }

    &__radio-wrap {
        display: flex;
        flex-direction: column;
    }

    &__buttons-wrap {
        @include tablet-down {
            text-align: center;
        }
    }
}