.menu {
    &__item {
        position: relative;
        display: flex;
        padding: 12px 16px;
        cursor: pointer;
        white-space: nowrap;
        transition: all .2s ease;

        &:not(:last-child) {
            @include border-bottom;
        }

        &:hover {
            background-color: $color-background-aside;
        }

        &--active {
            background-color: $color-background-aside;
        }
    }
}