.request {
    display: flex;

    @include tablet-down {
        flex-direction: column;
    }
    
    &__item {
        overflow-x: hidden;

        @include tablet-down {
            display: flex;
            justify-content: space-between;

        }
        &:first-child {
            @include tablet-down {
                padding-top: 8px;
            }
        }
        &:last-child {
            @include tablet-down {
                padding-bottom: 8px;
            }
        }
        &:not(:last-child) {
            border-right: 1px solid $color-border;
            padding-right: 34px;
            margin-right: 32px;

            @include tablet-down {
                border-right: none;
                border-bottom: 1px solid $color-border;
                padding-right: 0;
                padding-bottom: 16px;
                margin: 0 0 16px;
            }
        }
    }

    &__link {
        &:link,
        &:visited {
            position: relative;
            color: $color-link;
            text-decoration: none;
            overflow: hidden;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 1px;
                background-color: $color-link;
                transition: all .2s ease;
            }

            &:hover {
                &::after {
                    transform: translateX(-101%);
                }
            }
        }
    }
}