.search {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px 40px;

    @include tablet-down {
        flex-direction: column-reverse;
        justify-content: center;
    }

    &__item {
        position: relative;

        &:first-child {
            width: 100%;
            max-width: 336px;
        }
    }
}
