.search {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include tablet-down {
        flex-direction: column-reverse;
        justify-content: center;
    }

    &__item {
        position: relative;

        &:first-child {
            width: 100%;
            max-width: 336px;
            margin-right: 40px;

            @include tablet-down {
                margin: 10px 0 0;
            }
        }
    }
}
