.tabs {
	display: flex;
	flex-wrap: wrap;
    position: relative;
    z-index: 1;

    &__input {
        display: none;
    }
}

.tab-content {
    padding: 40px 0 8px;
    &__item {
        order: 99;
        flex-grow: 1;
        width: 100%;
        background: #fff;
        opacity: 0;
        visibility: hidden;
        height: 0;
        transform: translateX(-100%);
        transition: opacity .2s ease, transform .2s ease-in-out;
    }
}

.nav-secondary {
    position: relative;

    &::after {
        content: "";  
        position: absolute;
        bottom: 0;
        left: -10%;
        width: 175%;
        height: 1px;
        background-color: $color-border;
        z-index: 0;
    }

    &__wrap {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__label {
        flex: 0 0 auto;
        font-size: 12px;
        line-height: 20px;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
        padding: 14px 16px;
        height: 46px;
        border-radius: 6px 6px 0px 0px;
        transition: color 0.2s ease;
    }
}


#tab-1:checked ~ {
    .nav-secondary .nav-secondary__label:nth-of-type(1) {
        @include highlightTabItem;
    }

    .tab-content .tab-content__item:nth-of-type(1) {
        @include showTabContent;
    }
}

#tab-2:checked ~ {
    .nav-secondary .nav-secondary__label:nth-of-type(2) {
        @include highlightTabItem;
    }

    .tab-content .tab-content__item:nth-of-type(2) {
        @include showTabContent;
    }
}

#tab-3:checked ~ {
    .nav-secondary .nav-secondary__label:nth-of-type(3) {
        @include highlightTabItem;
    }

    .tab-content .tab-content__item:nth-of-type(3) {
        @include showTabContent;
    }
}

#tab-4:checked ~ {
    .nav-secondary .nav-secondary__label:nth-of-type(4) {
        @include highlightTabItem;
    }

    .tab-content .tab-content__item:nth-of-type(4) {
        @include showTabContent;
    }
}

#tab-5:checked ~ {
    .nav-secondary .nav-secondary__label:nth-of-type(5) {
        @include highlightTabItem;
    }

    .tab-content .tab-content__item:nth-of-type(5) {
        @include showTabContent;
    }
}
