.user-info {
    display: flex;
    justify-content: space-between;

    @include mob-down {
        flex-direction: column;
        gap: 20px;
    }
    
    &__title {
        display: flex;
        margin-bottom: 8px;
    }

    &__sum {
        display: flex;
        align-items: center;
    }
}