title Fundraise Up 
meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
meta(http-equiv='X-UA-Compatible' section='IE=edge')
link(rel='shortcut icon' href='../assets/images/favicon.ico')
