form.form
                                    .form__item.push-size-xs
                                        h5.form__title Designation
                                        .select.select--size-m(data-state="")#designation
                                            .select__title(data-default="Match Checkout Setting") Match Checkout Setting
                                            .select__content
                                                input(id="singleSelect0" class="select__input" type="radio" name="singleSelect" checked)
                                                label(for="singleSelect0" class="select__label") Match Checkout Setting

                                                input(id="singleSelect1" class="select__input" type="radio" name="singleSelect")
                                                label(for="singleSelect1" class="select__label") Option 1

                                                input(id="singleSelect2" class="select__input" type="radio" name="singleSelect" disabled)
                                                label(for="singleSelect2" class="select__label") Option 2 (disabled)

                                                input(id="singleSelect3" class="select__input" type="radio" name="singleSelect")
                                                label(for="singleSelect3" class="select__label") Option 3

                                                input(id="singleSelect4" class="select__input" type="radio" name="singleSelect")
                                                label(for="singleSelect4" class="select__label") Option 4

                                    .form__item.push-size-xs
                                        h5.form__title Goal

                                        .u-d-flex 
                                            input(class="input input__text input--size-m" type="text" name="goal" placeholder="$10.00" value="$10.00" aria-label="Goal")

                                            .select.select--size-s.u-margin-left-xs(data-state="")#currency
                                                .select__title(data-default="USD") USD
                                                .select__content
                                                    input(id="singleSelect5" class="select__input" type="radio" name="singleSelect" checked)
                                                    label(for="singleSelect5" class="select__label") USD
                                                            
                                                    input(id="singleSelect6" class="select__input" type="radio" name="singleSelect")
                                                    label(for="singleSelect6" class="select__label") USD

                                                    input(id="singleSelect7" class="select__input" type="radio" name="singleSelect")
                                                    label(for="singleSelect7" class="select__label") EUR

                                    .form__item.push-size-xs
                                        h5.form__title Default Amount
                                                
                                        .radio
                                            .radio__item.push-size-xxs
                                                input(id="defaultAmount1" class="input__radio" type="radio" name="defaultAmount")
                                                label(for="defaultAmount1") Match Checkout Setting
                                                
                                            .radio__item.push-size-xs
                                                input(id="defaultAmount2" class="input__radio" type="radio" name="defaultAmount" checked)
                                                label(for="defaultAmount2" ) Customize

                                            .radio__item 
                                                input(class="input__checkbox" type="checkbox" id="filterStatus3" checked)
                                                label(for="filterStatus3") Allow donor to&nbsp;change default currency

                                    .form__item.push-size-xs
                                        h5.form__title Border size
                                        input(type="range" class="input__range js-border-s-progress" value="2" min="0" max="3" step="1" oninput="this.nextElementSibling.value = this.value + 'px'")
                                        output 2px
                                                

                                            
                                    .form__item 
                                        h5.form__title Border radius
                                        input(type="range" class="input__range js-border-r-progress" value="15" min="5" max="20" step="1" oninput="this.nextElementSibling.value = this.value + 'px'")
                                        output 15px