.request
    .request__item
        h4.title-size-xs.u-color-highlight-light.push-size-xxxs Status
        .u-d-flex
            span.icon.icon--success.u-margin-right-xxxs
            p Success
    .request__item
        h4.title-size-xs.u-color-highlight-light.push-size-xxxs Supporter
        a(class="request__link" href="mailto:#" target="_blank") Charlotte&nbsp;Ann
    .request__item
        h4.title-size-xs.u-color-highlight-light.push-size-xxxs Status
        a(class="request__link" href="#" target="_blank") Workout for&nbsp;water