.user-info
    .user-info__item
        .user-info__title.push-size-xxxs
            span.icon.icon--dollar
            h3.title-size-xs Donation
        .user-info__sum
            p.title-size-m.u-color-highlight-dark.u-margin-right-xxxs €20.60 EUR   
            p.u-color-highlight-light ≈ $22.22 USD     
    .user-info__item
        p.u-color-highlight-light.push-size-xxxs ID 
        .u-d-flex.push-size-xxxs.u-pointer
            h3.title-size-xs DYHY694Y
            span.icon.icon--copy.u-margin-left-xxxs