*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --range-border-s-background: #{$range-border-s-background};
    --range-border-r-background: #{$range-border-r-background};
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    color: $color-text-primary;
    background-color: $color-background-secondary;
    padding: 53px 0;
}

.container {
    max-width: 936px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;

    &--wide {
        max-width: 1224px;
    }

    .container {
        padding: 0;
    }
}

ul {
    list-style: none;
}

h1, h2, h3, h4, h5 {
    font-weight: 400;
}

.push {
    @each $name, $size in $push-sizes {
        &-size-#{$name}:not(:last-child) {
            @each $screen, $value in $size {
                @if $screen == 'desktop' {
                    margin-bottom: $value;
                }

                @include tablet-down {
                    @if $screen == 'tablet' {
                    margin-bottom: $value;
                    }
                }

                @include mob-down {
                    @if $screen == 'mobile' {
                    margin-bottom: $value;
                    }
                }
            }
        }
    }
}

.section-bordered {
    border: 1px solid $color-border;
    box-shadow: 1px 3px 3px rgba(62, 63, 64, 0.1);
    border-radius: 8px;

    &:not(:first-child) {
        overflow: hidden;
    }

    &__item {

        &:first-child {
            padding: 28px 32px;
            background-color: $color-background-primary;
            border-radius: 8px 8px 0 0;

            @include mob-down {
                padding: 28px 16px;
            }
        }

        &:last-child {
            padding: 16px 32px;
            background: $color-background-tertiary;
            border-top: 1px solid $color-border;
            border-radius: 0 0 8px 8px;

            @include mob-down {
                padding: 28px 16px;
            }
        }

        &--yellow {
            &:last-child {
                background: $color-background-quaternary;
            }
        }
    }

    
}

.aside {
    position: sticky;
    top: 24px;
    max-width: 264px;
    background-color: $color-background-primary;
    border: 1px solid $color-border;
    border-radius: 8px;

    @include mid-tablet-down {
        position: relative;
        top: 0;
        max-width: none;
        width: 100%;
    }
}

.main {
    display: flex;
    align-items: flex-start;
    gap: 24px;

    @include mid-tablet-down {
        flex-direction: column-reverse;
        align-items: center;
    }
}