@font-face {
    font-family: 'Work Sans';
    src: url("../assets/fonts/work_sans/WorkSans-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Work Sans';
    src: url("../assets/fonts/work_sans/WorkSans-SemiBold.ttf");
    font-weight: 600;
}