.u-push {
    @each $name, $size in $push-sizes {
      &-size-#{$name}:not(:last-child) {
        @each $screen, $value in $size {
          @if $screen == 'desktop' {
            margin-bottom: $value;
          }
  
          @include tablet-down {
            @if $screen == 'tablet' {
              margin-bottom: $value;
            }
          }
  
          @include mob-down {
            @if $screen == 'mobile' {
              margin-bottom: $value;
            }
          }
        }
      }
    }
}

.u-align-center {
    text-align: center;
}

.u-color-highlight-dark {
  color: $color-text-highlight-dark;
}

.u-color-highlight-light {
  color: $color-text-highlight-light;
}

.u-d-flex {
  display: flex;
}

.u-pointer {
  cursor: pointer;
}

.u-margin-left {
  &-xxxs {
    margin-left: 8px;
  }
  &-xxs {
    margin-left: 16px;
  }

  &-xs {
    margin-left: 24px;
  } 
}

.u-margin-right {
  &-xxxs {
    margin-right: 8px;
  }
}