header.header.container.container--wide.push-size-xs 
    .section-bordered 
        .section-bordered__item
            h1.title-size-m Donations
        .section-bordered__item.search
            .search__item 
                span.icon.icon--search
                input(class="input input__search" type="search" name="search" placeholder="Search" aria-label="Search through site content")
            .search__item.filter
                .filter__item 
                    p.filter__title All statuses
                    span.icon.icon--arrow
                ul.filter__item.filter-list
                    li.filter-list__item
                        input(class="input__checkbox" type="checkbox" id="filterStatus0")
                        label(for="filterStatus0") Some status
                    li.filter-list__item
                        input(class="input__checkbox" type="checkbox" id="filterStatus1")
                        label(for="filterStatus1") Some status 1
                    li.filter-list__item
                        input(class="input__checkbox" type="checkbox" id="filterStatus2")
                        label(for="filterStatus2") Some status 2