doctype html
html(lang="en")
    head
        block seoTags
        include ../links/headlinks
        link(rel='stylesheet' href='../css/normilize.min.css')
        link(rel='stylesheet' href='../css/style.min.css')
        script(src='../js/script.min.js' defer)
    body
        include header
        block content

