nav.main-nav
    ul.menu 
        li.menu__item
            span.icon.icon--repeat.u-margin-right-xxxs
            p Change Amount
        li.menu__item
            span.icon.icon--wallet.u-margin-right-xxxs
            p Change Payment Method
        li.menu__item.menu__item--active
            span.icon.icon--calendar.u-margin-right-xxxs
            p Change Date
        li.menu__item
            span.icon.icon--cancel.u-margin-right-xxxs
            p Cancel Recurring